.about {
  padding: 4rem;
  background: var(--white);
}

.primary_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.img_container {
  justify-content: left;
  max-width: 40%;
  max-height: 30%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
}

.text_wrapper {
  justify-content: right;
  padding-left: 8%;
  width: 100%;
}

.title_container {
  float: top;
  padding-bottom: 5%;
  font-size: 30px; /* 300% */
  color: var(--black);
}

.description_container {
  float: bottom;
  padding-bottom: 5%;
  font-size: 20px; /* 125 % */
  color: var(--black);
}

.contact-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  width: 50%;
}

.icon-link-wrapper {
  width: 15%;
}

.icon-wrapper {
  width: 100%;
  height: auto;
}

.icon-wrapper:hover {
  opacity: 0.6;
  transition: all 0.2s ease-out;
}

/* Resume Button stuff below */
:root {
  --res-priamry: var(--black);
}

.res-btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.res-btn--outline {
  background-color: var(--black);
  color: var(--white);
  padding: 8px 20px;
  border: 1px solid var(--res-priamry);
  transition: all 0.3s ease-out;
}

.res-btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.res-btn--large:hover {
  background: transparent;
  color: var(--black);
  transition: all 0.3s ease-out;
}

/* Handle small screen stuff  (Vertical)
This applies when screen (long side) is smaller than 812 pixels 
AKA iPhones 5 - iPhone X
*/
@media only screen and (max-width: 812px) and (orientation: portrait) {
  .primary_container {
    display: flex;
    flex-flow: column;
  }

  .img_container {
    justify-content: top;
    max-width: 100%;
  }

  .text_wrapper {
    justify-content: bottom;
    width: 120%;
  }

  .title_container {
    float: top;
    padding-bottom: 8%;
    padding-top: 8%;
    font-size: 150%;
    color: var(--black);
  }

  .description_container {
    float: bottom;
    padding-bottom: 10%;
    font-size: 110%;
    color: var(--black);
  }

  .icon-row {
    width: 80%;
  }

  .res-btn {
    width: 50%;
  }

  .icon-link-wrapper {
    width: 20%;
    padding-top: 5%;
  }
}

/* Same phones as above but horizontal (long side is 812 pixels or less) */
@media only screen and (max-width: 812px) and (orientation: landscape) {
  .img_container {
    max-width: 50%;
  }

  .text_wrapper {
    width: 120%;
  }

  .title_container {
    float: top;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 150%;
    color: var(--black);
  }

  .description_container {
    float: bottom;
    padding-bottom: 10%;
    font-size: 90%;
    color: var(--black);
  }

  .icon-row {
    width: 80%;
  }

  .res-btn {
    width: 60%;
  }

  .icon-link-wrapper {
    width: 20%;
    padding-top: 5%;
  }
}

/*
Handle iPad (Vertical) where long side is 1000 pixels or more
*/
@media only screen and (min-height: 1000px) and (orientation: portrait) {
  .img_container {
    justify-content: top;
    max-width: 45%;
  }

  .text_wrapper {
    width: 120%;
  }

  .title_container {
    float: top;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 250%;
    color: var(--black);
  }

  .description_container {
    float: bottom;
    padding-bottom: 10%;
    font-size: 125%;
    color: var(--black);
  }

  .res-btn {
    width: 50%;
  }

  .icon-link-wrapper {
    width: 23%;
    padding-top: 5%;
  }
}

/* Handle iPad (Horizontal) where long side is 1000 pixels or more */
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .res-btn {
    width: 50%;
  }

  .res-btn--large {
    font-size: 150%;
  }
}
